//PROJECT COLORS 

//blue
$BC1: #0d2c75;
//light blue
$BC2: #009fdf;
//dark blue
$BC3: #282828;
//light gray
$BC4: #b2b1b1; 
//text
$TC: #111043;
//link color
$LC: #454545;
// placeholders color
$PHC: #635d53;

//Block margin standart
$MS: 50px;

//grid column space
$GS: 15px;

// border radius standart
%borad{
  border-radius: 3px
}